.button {
    font-size: 14px;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.button:hover {
    border-color: #0f0f0f;
    background-color: #0f0f0f;
    color: white;
    cursor: pointer;
}

.outline {
    background-color: white;
    color: #424242;
    border-color: #424242;
}

.outline:hover {
    background-color: #424242;
    color: white;
    border-color: #424242;
}
