.container-markdown-output {
    display: flex;
    padding: 20px 10px;
}

.markdown-output {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    font-size: 14px;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
    overflow-y: auto;
}
